{% extends 'base.html.twig' %}

{% block body %}
<div class="container py-4">
    <h1 class="h3 mb-3">Carte de Montpellier avec toutes les places de parking PMR</h1>
    <div>
    </div>
</div>
{% endblock %}
