<!DOCTYPE html>
<html lang="fr">
<head>
    {% set titleSite = "Carte Montpellier Parking PMR" %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Une carte google affichant la liste des places de parking pour personne à mobilité réduite sur Montpellier">
    <meta name="keywords" content="carte, pmr , personne à mobilité réduite, Montpellier, parking, places">
    <title>{% block title %}{{ titleSite }}{% endblock %}</title>
    <link rel="icon" href="{{ asset('images/favicon.svg') }}" sizes="any" type="image/svg+xml">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
