<li class="d-flex align-items-center gap-2">
                <span aria-hidden="true">
                    {{ svgIcon|replace({'%s': color})|raw }}
                </span>
    <span>{{ message }}</span>
</li>
